<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- new -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7841772399010708"
	 data-ad-slot="5136879477"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- <iframe src="http://rcm-cn.amazon-adsystem.com/e/cm?t=samael-23&o=28&p=48&l=ez&f=ifr&f=ifr" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe> -->
